{%extends 'base_page.html'%}

{%block content%}
    <br>
    {{username}}
    <br>
    Tweets: {{tweet_total}}
    <br>
    Following: {{following}}
    <br>
    <ul>
        {% for item in feed%}
        <li>
            <a href='{% url 'profile' username=item.tweet.author %}'>{{item.tweet.author}}</a> || <a href='{% url 'tweet' id=item.tweet.id %}'>{{item.tweet.date}}</a>

        </li>
        <li>
            {{item.tweet.body}}
        </li>
        <br>
        {% endfor%}
    </ul>
{%endblock%}