{%extends 'base_page.html'%}

{%block content%}
    <br>
    {{data.username}}
    <br>
    Tweets: {{data.tweet_total}}
    <br>
    Following: {{data.following}}
    <br>
    {%if data.isFollowing == True%}
    <a href='{% url 'follow' friend=data.username %}'>
        <button>unfollow</button>
    </a>
    {%else%}
    <a href='{% url 'follow' friend=data.username %}'>
        <button>follow</button>
    </a>
    {%endif%}
    <br>
  

    <br>
    <ul>
        {% for item in data.feed%}
        <li>
            <a href='{% url 'profile' username=item.author %}'>{{item.author}}</a> || <a href='{% url 'tweet' id=item.id %}'>{{item.date}}</a>

        </li>
        <li>
            {{item.body}}
        </li>
        <br>
        {% endfor%}
    </ul>
{%endblock%}